<footer class="footer" th:fragment="footer">
    <div class="main-footer">
        <div class="sub-footer">
            <div class="ft-element-1 footers">
                <img th:src="@{../images/Recursos/Logo-inicio.png}" alt="">
                <div class="footer-list">
                    <li>Nosotros</li>
                    <li>Servicios</li>
                    <li>Contactanos</li>
                </div>

            </div>
            <div class="ft-element-2 footers">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque magni distinctio dolore at?
                    Dignissimos recusandae omnis, deserunt, molestias ut praesentium vitae laboriosam suscipit
                    eligendi sapiente corporis doloribus accusamus quod numquam.</p>
            </div>
            <div class="ft-element-3 footers">

                <div class="footer-list-icon">
                    <h1>Redes Sociales</h1>
                    <div class="icon">
                        <li><i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i></li>
                        <li><i class="fa-brands fa-facebook" style="color: #ffffff;"></i></li>
                        <li><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></li>
                    </div>

                </div>

            </div>
        </div>
    </div>
</footer>